* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/*.playfair-display-italicfont {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
  }*/

body{
    background-color: hsl(180, 24%, 62%);
}

h1 {
    text-align: center;
    padding:10px 0px;
}
nav {
    text-align: right;
}
#navigation{
    padding:2px;
    background-color: hwb(204 26% 42%);
    border-top-style: groove;
    border-bottom-style: groove;
    margin-bottom:35px;
}
#navigation a{
    color:bisque;
    padding-right:10px;
}

.dropblockcontainer{
    display:block;
    /*was only able to shift the button to middle this way*/
    margin: auto;
    width: 310px;/*margin=act.width of block level and course*/
}
.dropblock{
    min-width:10px;
    height:30px;
    display:inline-block;
}
.dropblock button{
    height:30px;
    background-color:hsl(34, 78%, 91%);
    color:rgb(0, 0, 0);
    font-size:large;
    font-family:"Playfair Display","Open sans";
    font-style:italic;  
    border-left-style:solid;
    border-color:black;
    width:150px;
    border-width:2px;
}
.dropblock button:hover{
    background-color:hsl(34, 78%, 99%);

}
.dropblock:hover .content{
    display:block;
}

#courseBlock button{
    border-right-style: solid;
    /*width:150px; /*eihter this or put it too all buttons to look good*/ 
}
#levelBlock{
    float:left;
}


/*note try and check out the other sections textbox as it overflows when width is 150 px*/ 
.dropblock .content{
    display:none;/*make it hiddenn so the dropdown menu of farthur buttons are shown further*/
    border-style:outset; 
}
#courseBlock .content{
    width:150px;
}
.label{
    color:black;
    background-color: hsl(34, 41%, 67%);
    padding:5px 8px;
    border-top-style:groove;
    overflow: hidden;
}
.label:hover{
    background-color: hsl(34, 41%, 60%);
}

/*html/head/ <meta http-equiv="refresh" content="10"> */
